node_modules/
dist/
.astro/
.wrangler/
public/media/
.DS_Store
.env
.env.*
!.env.example
qa/

# Wrangler
.dev.vars

# Logs
*.log
npm-debug.log*

# TypeScript incremental
*.tsbuildinfo

#macOS extra
._*

.idea/
.vite/
